/* font styles */

.azeret-mono-normal {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}


/* Shared second Body Part */
.part-title1
{
    height: 70px;
    width: 95%;
    font-weight: bold;
    font-size: 16px;
    color: rgba(13, 19, 33, 0.7)
}

.part-title2
{
    height: 70px;
    width: 100%;
    font-weight: bold;
    font-size: 16px;
    color: rgba(13, 19, 33, 0.7)
}

.part-description {
    height: 80px;
    width: 95%;
    font-weight: 400;
    font-size: 15px;
    opacity: 70%;
    color: rgb(13, 19, 33)
    
       
}

.part-btn {
    width: 170px;
    height: 45px;
    font-weight: 600;
    font-size: 16px;
    color: rgb(13, 19, 33);
    opacity: 70%;
    padding: 12px 20px 12px 20px;
    background-color: white;
}
.part-picture1 {
    width:270px;
    height: 240px;
}

.part-picture2 {
    width:240px;
    height: 240px;
}


/* Shared Title */
.title-primary {
    height: 30px;
    font-size: 25px;
    font-weight: bolder;
    text-align: center;
    color: rgb(13, 19, 33);
}
.description-primary {
    height: 50px;
    font-size: 16px;
    font-weight: 400;
    opacity: 70%;
    margin-top: 20px;
    text-align: center;
    color: rgb(13, 19, 33);
}

/* shared body part */
.body-part-title {
    height: 30px;
    width: 100%;
    font-weight: bold;
    font-size: 16px;
    margin-left: 10px;
    color: rgba(13, 19, 33, 0.7)
}

.body-part-description {
    height: 80px;
    width: 95%;
    margin-left: 10px;
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 15px;
    opacity: 70%;
    color: rgb(13, 19, 33);   
       
}
.body-part-link {
    height: 80px;
    width: 95%;
    margin-left: 10px;
    font-weight: bolder;
    font-size: 18px;
    /* opacity: 70%; */
    color: rgb(13, 19, 33);  

}

.body-part-image {
    height: 70px;
    width: 70px;
    margin-top: 20px;
    
}


.title-secondary {
    margin-top: 50px;
    height: 30px;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    /* color:rgb(255, 255, 255); */
}
/* Shared color */
 .dark1 {
    color: rgb(13, 19, 33);
 }

 /* nav style */

 nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 100px;
 }

 nav ul li {
    list-style: none;
 }

 .nav-title {
    font-size: 28px;
    font-weight: bolder;
 }
.nav-btn {
    font-size: 20px;
    font-weight: 600;
    padding: 17px 24px 17px 24px;
    border-radius: 8px;
    opacity: 80%;
    background-color: white;
}

/* banner style */
.banner {
    background-image: url(../assets/Hero-bg.png);
    background-repeat: no-repeat;
    height:600px;
    max-width: 1366px;
}
.banner-contant {
    height: 581px;
    margin: 0px 100px 30px 100px;
}
.banner-container-image {
    text-align: center;
    margin-top: 26px;
}
.banner-title {
    text-align: center;
    font-size: 30px;
    font-weight: bolder;
    margin-bottom: 24px;
}
.banner-description {
    text-align: center;
    font-size: 16px;
    font-weight: 400px;
    margin: 0px 150px 30px 150px;
}
.banner-btn {
    text-align: center;
}
.contact-btn {
    color: white;
    font-size: 20px;
    font-weight: 600;
    padding: 17px 24px 17px 24px;
    border-radius: 8px;
    text-align: center;
    background-color: rgb(13, 19, 33);
}

/* Second Section styles */

.second-section {
    background-color:#FAFAFB;
    max-width: 1140px;
    height: 1100px;
    margin: 0 auto;
}
.second-contant {
    width: 80%;
    height: 90%;
    margin: 60px auto;
}
.second-main-contain {
    margin: 70px 95px;
}

/* Second Body part */
.second-main-contain-part1{
    height: 250px;
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}

.second-main-contain-part2 {
    height: 250px;
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}

.second-main-contain-part3 {
    height: 250px;
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}

/* inspiration styles */
.inspiration-section {
   
    background-color:white;
    max-width: 1140px;
    height: 700px;
    margin: 0 auto;
}
.inspiration-contant {
    width: 80%;
    height: 85%;
    margin: 60px auto;
   
}
.inspiration-video {
    margin-top: 50px;
}

/* current-target styles */

.current-target-section {
    
    background-color:white;
    max-width: 1140px;
    height: 500px;
    margin: 0 auto;
}


.current-target-contant-part {
   
    background-color:white;
    max-width: 1140px;
    height: 380px;
    margin-top: 25px;
}
.current-target-contant {
    width: 80%;
    height: 85%;
    margin: 60px auto;
   
}
.current-target-contant-part {
    display: flex;
    justify-content: space-between;
}
.current-target-contant-part1 {
    width: 32%;
    height: 90%;
    background-color: #FFF6F4;
    border-radius: 8px;
}
.current-target-contant-part2 {
    width: 32%;
    height: 90%;
    background-color:#F2F6FE;
    border-radius: 8px;
}
.current-target-contant-part3 {
    width: 32%;
    height: 90%;
    background-color: #FFF6F4;
    border-radius: 8px;
}

/* support styles */

.support-section {
   
    background-color:white;
    max-width: 1140px;
    height: 350px;
    margin: 0 auto;
}
.support-section-contant {
    width: 80%;
    height: 300px;
    margin: 0px auto;
  
    background-image: url(/assets/handshake.jpg);
    background-repeat: no-repeat;
    background-position:center;
}
main .support-section .support-section-contant h2 {
    width: 100%;
    font-weight: bold;
    font-size: 30px;
    color: white;
    text-align: center;
}
main .support-section .support-section-contant p {
    width: 100%;
    font-weight: 400;
    font-size: 16px;
    color: white;
    text-align: center;
    opacity: 70%;
}
.input-section {
    text-align: center;
}

/* footer-section */


.footer-section {

    background-color:#F7F8F8;
    max-width: 1140px;
    height: 80px;
    margin: 0 auto;
}
.footer-section-contant {
    width: 80%;
    height: 50%;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-title {
    font-weight: bolder;
    align-items: center;
}
.footer-icon {
    list-style: none;
    display: flex;
    gap: 20px;

  
}
footer .footer-icon li a {
    text-decoration: none;
}